/* ----- ALL ----- */
:root {
    --red: #B9302F;
    --black: #424242;
    --true-black: #000;
    --white: #E3e5e8;
    --dark-red: #A22727;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* ----- NAVBAR ------ */

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.top-items p {
    display: inline-block;
    font-size: .8em;
}

.top-items {
    color: var(--black);
}

.top-items .fa-phone { 
    margin-right: 10px;
    margin-left: 20px;
}

.top-items .fa-envelope {
    margin: 0 10px;
    margin-top: 20px;
}

.fa-twitter:visited,
.fa-facebook-f:visited,
.fa-instagram:visited,
.fa-youtube {
    color: var(--black);
}

.fa-twitter,
.fa-facebook-f,
.fa-instagram,
.fa-youtube {
    color: var(--black);
    float: right;
    margin: 0 auto;
    margin-top: 20px;
    
}

.fa-facebook-f,
.fa-instagram,
.fa-youtube {
    margin-right: 30px !important;
}

.fa-twitter {
    margin-right: 20px;
}

nav h3 {
    color: var(--red);
    text-transform: uppercase;
    font-size: 1.3em;
}

nav a {
    color: var(--red);
}

nav a:visited {
    color: var(--red);
}

.container {
    position: relative;
    padding: 0 1.5rem;
    margin: 45px auto;
    max-width: 75rem;
    width: 100%;
}

nav.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.links {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.btn {
    display: inline-block;
    background-color: var(--red);
    color: var(--white) !important;
    border-radius: 16px;
    padding: .8rem;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--dark-red);
}




























