/* ----- ALL ----- */
:root {
    --red: #B9302F;
    --black: #424242;
    --true-black: #000;
    --white: #E3e5e8;
    --dark-red: #A22727;
    --transparent: #e8e9ea;
    --grey: #71797E;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    /* height: 100vh; */
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
}

img {
    width: 100%;
}

/* ----- TOP NAV ----- */
nav {
    position: relative;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
    width: 100%;
    height: 5%;
    background-color: var(--red);
    color: var(--white);
    display: inline-block;
}

nav p {
    padding-top: 8px;
    display: inline-block;
    font-size: .8em;
}

nav .fa-phone { 
    margin-right: 10px;
}

nav .fa-envelope {
    margin: 0 10px;
}

.fa-twitter:visited,
.fa-facebook-f:visited,
.fa-instagram:visited,
.fa-youtube {
    color: white;
}

.fa-twitter,
.fa-facebook-f,
.fa-instagram,
.fa-youtube {
    color: var(--white);
    float: right;
    margin: 8px auto;
}

.fa-twitter:hover,
.fa-facebook-f:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    filter: brightness(85%);
    transition: 0.3s;
}

.fa-facebook-f,
.fa-instagram,
.fa-youtube {
    margin-right: 20px !important;
}

/* ----- MAIN NAVBAR -----*/
header {
    width: 100%;
    z-index: 999;
    transition: 0.3s;
}

header.scrolled {
    background-color: var(--transparent);
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.scrolled li {
    font-size: .86rem;
}

header.scrolled h3 {
    font-size: 1.2rem;
}

header.scrolled .logo-pic {
    width: 80px;
}

header,
.nav-container {
    position: fixed;
}

.nav-container {
    width: 100vw;
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    display: inline-block;
    margin-left: 2.5rem;
}

.navbar .nav-services:hover {
    color: var(--dark-red) !important;
    transition: 0.4s;
}

.navbar a:visited {
    color: var(--black)
}

.navbar li {
    list-style-type: none;
    font-size: .9em;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar h3 {
    text-transform: uppercase;
    color: var(--red);
    font-size: 1.3em;
    font-weight: 700;
    transition: 0.4s;
}

.logo img {
    width: 100px;
    transition: 0.4s;
}

.logo {
    display: flex;
    align-items: center;
}

.container {
    position: relative;
    margin: 1.2rem auto;
    padding: 0 3rem;
    z-index: 10;
    width: 100%;
}

.btn {
    display: inline-block;
    background-color: var(--red);
    color: var(--white) !important;
    border-radius: 16px;
    padding: .8rem;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--dark-red);
}

.wrapper {
    padding: 0 0 2rem;
    overflow: hidden;
    width: 100%;
    background-color: var(--white);
}

/* ----- MAIN ----- */
.main-area {
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
}

.main-area .main-container {
    display: grid;
    grid-template-columns: 2fr;
    padding-top: 30px;
    align-items: center;
    height: calc(105vh - 165px);
    max-height: 600px;
}

.main-info {
    padding-top: 80px;
    text-align: center;
    height: 105%;
    background-image: linear-gradient(to bottom, transparent, #000000), url("./images/main-image.jpeg");
    background-size: cover;
    background-color: var(--true-black);
    background-position: 20%;

}

.main-info h1 {
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 6px;
    color: var(--white);
    padding-top: 70px;
}

.main-subheading {
    color: var(--red);
    text-transform: uppercase;
    font-size: 1.18em;
    font-style: italic;
    padding-right: 40px;
    background-color: var(--white);
}

.main-text {
    color: var(--white);
    text-align: center;
    width: 70%;
    font-size: 1em;
    padding: 30px 20px;
    display: table-cell;
}

.main-inspection-btn {
    font-size: .9em;
    background-color: var(--red);
    color: var(--white) !important;
    border-radius: 16px;
    padding: 1rem;
    transition: 0.3s;
    text-decoration: none;
    text-transform: uppercase;
}

.contact-btn {
    background-color: transparent;
    color: var(--white);
    font-size: .9em;
    border-bottom: 2.5px solid var(--red);
    border-radius: 0px;
    padding: 0.15rem 0;
    text-decoration: none;
    text-transform: uppercase;
}

.main-btns {
    padding: 7rem;
    display: inline-block;
}

.main-inspection-btn:hover {
    background-color: var(--dark-red);
}



